.category-fitler {
  margin-top: 5px;

  .ant-menu{
    border-right: none;
    .ant-menu-item{
      padding-left: 0px;
      background-color: #ffffff;
      
      &:hover {
        color: #ffa15f;
      }
    }
  }
  .ant-menu-item-selected{
    color:#ff6900;
    font-weight: 500;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: #ffffff;
  }
}
