.sub-category {
  margin-top: 9px !important;

  .ant-card-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88.4px;
    height: 55px;
    padding: 0px;

    .link-sub-category{
      color: black;
      font-weight: 400;
    }
  }
}
