.item-detail-cart {
  //height: 123px;
  padding: 9.5px 0 9.5px 0;
  
  .container__imgInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .image {
      height: 113px;
      width: 80px;
      object-fit: cover;
    }

    .container-description {
      height: 113px;
      margin-left: 20px;
      
      .name-product {
        height: 75%;
        margin: 0;
        color: #202124;
        font-size: 14px;
        font-weight: 500;
      }
  
      .action {
        font-size: 12px;
        font-weight: normal;
        color: #202124;
        margin: 5px;
        cursor: pointer;
      }
    }
  }

  .container-color {
    display: flex;
    justify-content: center;

    .avt-color {
      width: 30px;
      height: 30px;
    }
  }

  .size {
    margin: 0;
    text-align: center;
    color: #202124;
    font-size: 18px;
    font-weight: 500;
  }

  .container-amount {
    display: flex;
    justify-content: flex-end;
    .amount {
      margin: 0;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .container-quantity {
    display: flex;
    justify-content: center;
    .numberic-up-down {
      display: flex;
      justify-self: center;
      align-content: center;

      .quanlity-item{
        width: 49px;
        height: 42px;
        border: 1px solid #d9d9d9;
        text-align: center;
        padding-top: 9px;
      }
    
      .ant-btn {
        border-radius: 0px;
        height: 42px;
        width: 49px;
        background-color: white;
    
        .anticon {
          margin: 0;
        }
      }
    
      .ant-input {
        border-radius: 0px;
        height: 42px;
        width: 50px;
        text-align: center;
        border-right: white;
        border-left: white;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .column {
    flex: 100% !important; /* !important so that it overrides the inline style because by default it has higher priority */
  }
}
