.product {
  .ant-card{
    width: 180px;
    height: 335px; //365px

    .ant-card-cover {
      border-radius: 2px;
      .card-img{
        width: 180px;
        height: 269px;
        object-fit: cover;
      }
    }
    .ant-card-body{
      padding: 0;
      margin-top: 10px;
    }
  }  
}

