.product {
  width: 180px;
  height: 260px;
  object-fit: cover;
  
  .ant-card {
    width: 180px;
    height: 260px;
    object-fit: cover;
    border-radius: 2px;
    .ant-card-body {
      padding: 10px 0 24px 0;

      .ant-card-meta-title {
        margin-bottom: 5px;
      }
    }
  }
}

