.fast-cart {
  .ant-card-grid {
    padding: 0px !important;
  }
  .ant-card-body {
    .view-cart {
      height: 70px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 100px;
      a {
        font-size: 14px;
        font-weight: bold;
        color: #ffa15f;
      }
    }
  }
}
